.filtro {
  background-color: #F2B718;
  font-weight:bold;
  font-size: 16px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.filtro label {
  margin-left: 10px;
}

.filtro select {
  background-color: #F2B718;
  border: none;
  height: 100%;
  width: 100px;
  text-align: center;
  transition: all 0.25s ease-in;
}

.filtro select:hover {
  background-color: #DBA614;
}