.filtro-container {
  background-color: #F2B718;
  box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: row;
  font-weight:bold;
  font-size: 16px;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.filtro-container.active {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(0);
  visibility: visible;
}

.filtro-toggle-display-button {
  display: none;
  padding: 10px;
  position: fixed;
  margin-top: 20px;
}

.filtro label {
  margin-left: 10px;
}

.option-container {
  display: block;
  opacity: 0;
  /* transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out; */
  transform: translateY(-100%);
  visibility: hidden;
}

.option-container.active {
  opacity: 1;
  /* transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out; */
  transform: translateY(0);
  visibility: visible;
}

.option {
  background-color: #F2B718;
  font-size: 25px;
  font-weight: normal;
  padding: 15px 0;
}

.option:hover {
  background-color: #DBA614;
  transition: all 0.3s ease-in-out;
}

.option.selected {
  border: 2px solid #157E38;
}

.filtro select:hover {
  background-color: #DBA614;
}

.icon {
  border: 2px solid #F2B718;
  color: #F2B718;
  padding: 10px;
  border-radius: 5px;
}

.filtro-option {
  width: 150px;
}

.filtro-option button {
  background-color: #F2B718;
  border: none;
  font-size: 25px;
  height: 100%;
  padding: 0 25px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.filtro-option button:hover {
  background-color: #DBA614;
}

/* mudar esse nome depois */
.filtro-close {
  background-color: #DBA614;
  display: none;
  font-size: 30px;
  text-align: center;
  padding: 3px 0;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 865px) {
  .filtro-container {
    flex-direction: column;
    height: 100%;
    transform: translateX(-100%);
    width: fit-content;
    opacity: 0;
    visibility: hidden;
  }

  .filtro-toggle-display-button {
    display: block;
    position: absolute;
  }

  .filtro-close {
    display: block;
  }

  .filtro-option {
    height: 50px;
    width: 100%;
  }

  .filtro-option button {
    width: 100%;
  }

}